<main>
    <div class="container">
        <div class="main__wrapper">
            <div class="main__characters">
                <ul class="main__characters__row">
                    <li *ngFor="let character of charactersList">
                        <a [routerLink]="['/details',character.id]" class="character">
                            <img class="character__image" src={{character.image}} alt="API image" width="200"
                                height="200">
                            <h2 class="character__name">{{character.name}}</h2>
                            <h3 class="character__species">{{character.species}}</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>